* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.6;
    height: 100%;
    background-color: #b4b4b4;
}

a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100%;
    position:relative;
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #f4f4f4;
    position: fixed;
    top: 0;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navlinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navlinks li {
    list-style: none;

}

.navlinks li a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 1rem;
    display: block;
}

.navlinks a:hover {
    color: #333;
    text-decoration: underline;
}

/* Responsive menu*/
.menu-icon {
    position: absolute;
    top: .6rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

/* Styling of different sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
}

section h2 {
    font-size: 2rem;
}

section p {
    font-size: 1.5rem;
}

/* Bio section styling */
.about-container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-areas: 'bioimg bio';
}
.bioimg {
    grid-area: bioimg;
}
.bio-image {
    margin: auto;
    border-radius: 50%;
    border: #b4b4b4 3px solid;
    width: 300px;
    height: 300px;
}

.bio {
    grid-area: bio;
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
}

.work-icons {
    align-items: center;
}

/* Project card styling */


/* Footer styling */

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
    background-color: transparent;
    text-align: center;
}

/* Icon styling */
.icons {
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.fa-linkedin:hover, .fa-twitter-square:hover, .fa-envelope-open-text:hover, .fa-phone-square-alt:hover, .fa-download:hover, .fa-github-square:hover {
    color: #fff;
    text-shadow:3px 6px rgba(65, 65, 64, 0.6)
}

/* Media queries*/

@media screen and (max-width: 600px) {
    .menu-icon {
        display: flex;
    }

    .navlinks {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;    
        background-color: #b4b4b4;

    }

    .navlinks ul {
        flex-direction: column;
        width: 100%;
    }

    .navlinks li {
        text-align: center;

    }
    .navlinks li a {
        padding: .5rem 1rem;
    }

    .navlinks.active {
        display: flex;
    }

    /*Changing bio image and bio to be on one line*/
    .about-container {
        width: 100%;
        padding: 50px;
        grid-template-columns: repeat(1, 1fr);
    }

    .bioimg {
        padding-bottom: 50px;
    }

    .bio-image {
        width: 200px;
        height: 200px;
    }

}
