* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f4f4f4;
    position: fixed;
    top: 0;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navlinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navlinks li {
    list-style: none;

}

.navlinks li a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 1rem;
    display: block;
}

.navlinks a:hover {
    color: rosybrown;
}

/* Responsive menu*/
.menu-icon {
    position: absolute;
    top: .6rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

#home {
    background: #333;
}

#about {
    background-color: rosybrown;
}

#footer {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 40px;
    color: #f4f4f4;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif;
}

/* Media queries*/

@media screen and (max-width: 600px) {
    .menu-icon {
        display: flex;
    }

    .navlinks {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navlinks ul {
        flex-direction: column;
        width: 100%;
    }

    .navlinks li {
        text-align: center;

    }
    .navlinks li a {
        padding: .5rem 1rem;
    }

    .navlinks.active {
        display: flex;
    }
}
